*, :before, :after {
    box-sizing: border-box;
}

html {
    min-height: 100%
}
  
body, #root {
    margin: 0;
    height: 100%;
 
}

main {
    border: 1px solid tan;
    max-width: 1650px;
    padding: 0 3rem;
    margin: 1rem auto;
    height: 100%;
}