@import "../../_variables.scss";

.container {
    background-color: $salmon-color;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 1650px;
    margin: 0 auto;
}

.icon {
    color: white;
    margin: $h1-margin
}