.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 500px;
    border: 1px solid black;
    padding: 1rem;
    overflow: hidden;
    gap: 10px;
    :last-child {
        margin-top: auto;
    }
}

.wish {
    position: absolute;
    top: 10px;
    right: 10px;

    svg {
        &:hover {
            outline: 5px solid lightyellow;
            fill: red;
            cursor: pointer;
        }
    }
    
}

.img_container {
    img {
        width: 100%;
        min-width: 100px;
        height: 180px;
        object-fit: contain;
    }
}

.btn-container {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 10px;

    button {
        height: 2.5rem;
        width: 4rem;
        padding: 6px 1rem;
        word-wrap: break-word;
        border: none;
        cursor: pointer;
    }
    
    button:first-child {
        background-color: yellowgreen;
    }
    button:last-child {
        background-color: lightcoral;
    }
}